/* Fonts from https://fonts.google.com/ */
@import url(https://fonts.googleapis.com/css?family=Merriweather:200,400,700|Open+Sans:400italic,700italic,400,700|Slabo+27px:400);

body {
  background-color: #fff;
  color: black;
  font-size: 1rem;
  line-height: 1.5;
}
/* MAIN COPY SIZING */
body { font-size: 20px; }
h1 { font-size: 2.25rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1.25rem; font-style: italic; }
blockquote { font-size: 1.125rem; }

/* MAIN FONT FAMILIES */
p  { font-family: Open Sans; }
h1,h2,h3 {
  font-family: Merriweather;
}
blockquote {
  font-family: Merriweather;
}

/* Heading Styles */
h1 {
  margin-bottom: 35px;
}

/* div.post COPY STYLES */
div.post blockquote {
  /*
   Note the CSS specificity @ work
   with this font-family declaration
  */
  font-family: Slabo 27px;
  padding: 1.5rem;
  margin: 0em 4rem;
}
div.post blockquote::before {
  font-family: Merriweather;
  content: "“";
  font-size: 2rem;
}
div.post blockquote::after {
  font-family: Merriweather;
  content: "”";
  font-size: 2rem;
}

div.post p:first-of-type:first-letter {
  font-family: Merriweather;
  font-size: 2.75rem;
  font-weight: bold;
  float: left;
  margin: -30px 0px 0px -2px;
}
div.post p:first-of-type:first-line {
  margin-top: 20px;
  line-height: 1;
}
div.post p {
  padding: 10px 0px 10px 40px;
}
